@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home Services</h1>
    <p class="lead">This is an MVC web application hosted in the Microsoft Azure Cloud that uses a virtual machine hosting an SQL Server to serve as Database Engine.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SQL Database</h2>
        <p>
            The SQL Database is on a cloud virtual machine. You can find more information about the database structure in the About page. The connection between the database and the web application is made with stored procedures and Entity Framework for the user management.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Application</h2>
        <p>The web application is built using ASP.NET MVC framework</p>
        <p><a class="btn btn-default" href="https://www.asp.net/mvc">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Application Hosting</h2>
        <p>The application is hosted on the Microsoft Azure cloud.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>